
<template>
<div>
  <nav class="relative flex flex-wrap items-center justify-between px-1 py-1 bg-teal-500 mb-2">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-base font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="#pablo">
          CAMARA 7 - <label class="text-xs">Documento: OEM 2201-21.4-17-2022.21.3</label>
        </a>
        <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" v-on:click="toggleNavbar()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div v-bind:class="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
        <ul class="flex flex-col lg:flex-row list-none ml-auto">
          <li class="nav-item" v-on:click="toggleModalDocumentos()">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
              <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75" /><span class="ml-2">Selec. pedido comercial</span>
            </a>
          </li>
          <li class="nav-item" v-on:click="toggleModalCamara()">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
              <i class="fab fa-twitter text-lg leading-lg text-white opacity-75" /><span class="ml-2">Selec. Camara</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- <Camera></Camera> -->

 <div class="flex flex-wrap">
    <div class="w-full">
      <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'text-pink-600 bg-white': openTab !== 1, 'text-white bg-pink-600': openTab === 1}">
            Zona 1
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'text-pink-600 bg-white': openTab !== 2, 'text-white bg-pink-600': openTab === 2}">
            Zona 2
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'text-pink-600 bg-white': openTab !== 3, 'text-white bg-pink-600': openTab === 3}">
            Zona 3
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="px-4 py-5 flex-auto">
          <div class="tab-content tab-space">
            <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
               <Camera></Camera> 
            </div>
            <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
              <p>
                Completely synergize resource taxing relationships via
                premier niche markets. Professionally cultivate one-to-one
                customer service with robust ideas.
                <br />
                <br />
                Dynamically innovate resource-leveling customer service for
                state of the art customer service.
              </p>
            </div>
            <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
              <p>
                Efficiently unleash cross-media information without
                cross-media value. Quickly maximize timely deliverables for
                real-time schemas.
                <br />
                <br />
                Dramatically maintain clicks-and-mortar solutions
                without functional solutions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal Documentos-->
  <div v-if="showModalDocumentos" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
       <!--header-->
        <div class="flex items-start justify-between p-4 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-sm font-semibold">
             Seleccionar pedido comercial
            </h3>
          </div>
          <!--body-->
            <div class="modal-body  p-5 overflow-y-scroll  h-96 ">
                 <form class="w-full max-w-sm">
                  <div class="flex items-center border-b border-teal-500 py-2">
                    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Buscar" aria-label="Full name">
                    <button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                      Cancelar
                    </button>
                  </div>
                </form>
              <div class="bg-white rounded-lg shadow mt-3 ">
              <ul class="divide-y-2 divide-gray-400" >
                <li class="flex justify-between p-3 hover:bg-blue-600 hover:text-blue-200" v-for="(p, index) in pedidoComercial"  :key="index">
                     DOCUMENTO: OEM 2201-21.4-17-2022.21.3
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </li>
              </ul>
            </div> 
            </div>
            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
              <button type="button" v-on:click="toggleModalDocumentos()"
                class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-dismiss="modal">
                Salir
              </button>
         </div>
      </div>
    </div>
  </div>

  <!--Modal Camaras -->
  <div v-if="showModalCamara" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
       <!--header-->
        <div class="flex items-start justify-between p-4 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-sm font-semibold">
             Seleccionar Camara
            </h3>
          </div>
          <!--body-->
            <div class="modal-body  p-5 overflow-y-scroll  h-96 ">
                 <form class="w-full max-w-sm">
                  <div class="flex items-center border-b border-teal-500 py-2">
                    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Buscar" aria-label="Full name">
                    <button class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                      Cancelar
                    </button>
                  </div>
                </form>
              <div class="bg-white rounded-lg shadow mt-3 ">
              <ul class="divide-y-2 divide-gray-400" >
                <li class="flex justify-between p-3 hover:bg-blue-600 hover:text-blue-200" v-for="(p, index) in pedidoComercial"  :key="index">
                  Camara 1
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </li>
              </ul>
            </div> 
            </div>
            <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
              <button type="button" v-on:click="toggleModalCamara()"
                class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-dismiss="modal">
                Salir
              </button>
         </div>
      </div>
    </div>
   </div>
  </div>
</template>
<style scoped>

nav{
  margin-top:-20px
}
</style>
<script>
import Camera from "@/components/Camera.vue";

export default {
  name: "small-modal",
  components:{
    Camera
  },
  data() {
    return {
      showMenu: false,
      showModalDocumentos: false,
      showModalCamara:false,
      openTab: 1,
      pedidoComercial:[1,2,3,4,5,6,7,8,9,10,11,12]
    }
  },
  methods: {
    toggleNavbar: function(){
      this.showMenu = !this.showMenu
    },
    toggleModalDocumentos: function(){
      this.showModalDocumentos = !this.showModalDocumentos;
    },
    toggleModalCamara: function(){
      this.showModalCamara = !this.showModalCamara;
    },
      toggleTabs: function(tabNumber){
        this.openTab = tabNumber
      }
  }
}
</script>
