<template>
<div class="camaras ">
  <div  v-for="(i, index) in filas" :key="index">  
    <div class="ml-1  relative flex flex-wrap items-center justify-between px-1 py-1">
     <div class="container  mx-auto flex flex-wrap items-center justify-between">
      <button v-for="(cam, index) in camaras" :key="index"   @click="openModal()" 
      class="flex-1  h-20  bg-neutral-100  active:bg-neutral-600
      font-bold uppercase text-xss px-2   shadow hover:shadow-lg outline-none
      focus:outline-none mr-1 ease-linear
      transition-all duration-150" type="button">C04-A1-N13</button>
    </div>
   </div>
 </div>
</div>

<!-- Modal camara-->
<div :class="`modal ${!open && 'opacity-0 pointer-events-none'} z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`">
   <div @click="open = false" class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"></div>
      <div
        class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md">
        <div
          class="absolute top-0 right-0 z-50 flex flex-col items-center mt-4 mr-4 text-sm text-white cursor-pointer modal-close">
          <svg
            class="text-white fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18">
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
          </svg>
          <span class="text-sm">(Esc)</span>
        </div>
        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="px-6 py-4 text-left modal-content">
          <!--Title-->
          <div class="flex items-center justify-between pb-3">
            <p class="font-bold">MENSAJE</p>
            <div class="z-50 cursor-pointer modal-close" @click="open = false">
              <svg
                class="text-black fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 18 18">
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
              </svg>
            </div>
          </div>
          <!--Body-->
          <p>
            ¿Desea asignar el nivel a la kdskdskldskdsldskds al pedido?
          </p>
          <!--Footer-->
          <div class="flex justify-end pt-6">
            <button
              @click="open = false"
              class="px-4 py-3 mr-4  font-normal tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none">
              NO
            </button>
            <button
              @click="open = false"
              class="px-5 py-3 font-normal tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none">
              SI
            </button>
          </div>
        </div>
      </div>
    </div>
</template>
<style scoped>

 .camaras{
    width: 100%;
    border: 1.5px solid #000;
    background-color: #9F9FA0;
}

</style>

<script>
export default {
  name: "small-modal",
  data() {
    return {
      filas:[1,2,3],
      camaras:[1,2,3,4,5,6,7,5,5,3,3,7],
      open: false,
      tooltipShow: false
    }
  },
  methods: {
    openModal(){
      this.open=true
    },
  }
}
</script>
